@use 'variables' as *;
@use 'components';

* {
    box-sizing: border-box;
    font-family: $xp-font;
    font-size: $xp-font-size;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    user-select: none;
}

body.loading-cursor,
body.loading-cursor * {
    cursor: wait !important;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}